.activity_list_item {
  align-items: center;
  display: flex;

  padding: 10px 0px 10px 0px;

  img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }
}

.activity_list {
  height: 100%;
}

.two-columns {
  ul {
    columns: 2;

  }
}

@media only screen and (max-width : 770px) and (min-width: 1px){
    .two-columns ul {
      columns: 1;
    }

    .container-fluid {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
}
