.main_card {
  padding: 20px;

  background-color: white;
  box-shadow: -3px 3px 0px #C9C9C9;
}

.pill {
  border-radius: 80px;
  box-shadow: none;
  padding-top: 10px;
  padding: 20px;
}

.ink {
  position: relative;
}

.stat_widgets {
  display: flex;
  flex-direction: row;
  background-color: yellow;
}
