.event_list_item {

  display: flex;
  flex-direction: row;

  i { font-size: 20px; }

  .event_day_time {
    width: 25%;
    min-width: 80px;
    border-right: thin solid $title-color;
    text-align: right;
    padding: 10px;
  }

  .event_text {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .meeting {
    color: $mat-purple;
  }
}
