.nav_bar {
  width: 100%;
  background-color: #2C97D6;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;

  h3 {
    font-weight: 700 !important;
  }

  img {
    width: 100%
  }

  #logo {
    width: 150px;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 70%;

    li {
      // font-weight: 100;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-self: center;
      padding: 5px;
      cursor: pointer;
      margin: 0px;
      padding-left: 0px;
    }

    #selected {
      border-bottom-style: solid;
      border-bottom-color: white;
      border-bottom-width: 2;
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav_bar {
    ul {
      flex-direction: column;
    }
  }

}
