@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
.user_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 220px;
  font-family: 'Lato', 'sans-serif';
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .member-name {
    font-weight: 700;
    margin-top: 5px;
  }

  .member-detail {
    margin-top: 10px;
  }

  .more-information {
    color: #F07021;
    text-decoration: none;
  }
}
