/* Variables */
@import "./utils.scss";

/* Component Styles */
@import "./components/_leaderboard_chart.scss";
@import "./components/_card.scss";
@import "./components/_nav_bar.scss";
@import "./components/_event_list.scss";
@import "./components/_user_card.scss";
@import "./components/_project_card.scss";
@import "./components/_header_card.scss";
@import "./components/_activity_list.scss";
@import "./components/_project_page.scss";
@import "./components/_member_page.scss";
@import "./components/_homepage.scss";
@import "./components/_calendar_component.scss";


/* External Libraries */
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "./components/_gallery_card.scss";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: $title-color;
  background: 'white';

  h1 { font-size: 70px; }
  h2 { font-size: 55px; }
  h3 { font-size: 32px; }
  h4 { font-size: 20px; }

  margin:0px;
  margin-bottom: 20px;

  .row {
    margin: 0px;
  }

  div[class^='col'] {
    margin-top: 20px;
  }

  h1, h2, h3, h4, p {
    margin: 0px;
    font-weight: 300;
  }

  #title {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  #subtitle {
    color: $subtitle-color;
    text-transform: none;
    text-align: left;
  }

  #detail {
    font-size: 12px;
    color: $title-color;
  }

  .sign-in-button {
    height: 33px;
    width: 120px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background-color: #F07D21;
  }

  .me-header {
    font-size: 1.5em;
    font-weight: 600;
    border: none;
    margin-left: 10px;
    outline: none;
    background-color: white;
    cursor: pointer;
  }

  .me-menu {
    z-index: 1;
    position: absolute;
    overflow-x: auto;
    background: white;
    margin-top: 15px;
    padding: 16px;
    border-radius: 5px;
    cursor: default;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .me-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .me-title {
    margin-left: 10px;
    font-weight: 600;
  }

  .me-menu-body {
    display: flex;
    flex-direction: column;
  }

  .me-menu-option {
    margin-top: 9px;
    cursor: pointer;
    width: fit-content; 
  }

  .profile {
    color: #58AADA;
    text-decoration: none;
  }

  .profile:hover {
    text-decoration: underline;
  }
  
  .logout {
    color: #EB5757;
  }

  .bold {
    font-weight: 700;
  }

  ul {
    padding-left: 0px;
    margin-bottom: 0px;
  } 

  .rounded {
    border-radius: 50%;
    object-fit: cover;
    background-size: contain;
  }

  .large {
    height: 50px;
    width: 50px;
  }

  .medium {
    height: 40px;
    width: 40px;
  }

  .small {
    height: 30px;
    width: 30px;
  }

  .flex {
    display: flex;
  }
}
