@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

$mat-green: #CDDA49;
$title-color: #424242;
$subtitle-color: #A3A1A1;

$mat-blue: #1FBCD2;
$mat-purple: #9575CD;
$mat-orange: #FF9E00;

body {
  font-family: "Roboto", sans-serif;
  color: $title-color;
  background: darken(white, 10%);
  margin: 20px;

  h1 { font-size: 70px; }
  h2 { font-size: 55px; }
  h3 { font-size: 32px; }
  h4 { font-size: 20px; }

  h1, h2, h3, h4, p {
    margin: 0px;
    font-weight: 300;
    text-transform: capitalize;
  }

  #title {
    font-weight: 400;
  }

  #subtitle {
    color: $subtitle-color;
    text-transform: none;
  }

  #detail {
    font-size: 12px;
    color: $title-color;
  }
}

.main_card {
  box-shadow: -3px 3px 0px #C9C9C9;
  background-color: white;
  padding: 20px 20px 20px 30px;

  ul {
   list-style: none;
   padding: 0px;
   padding-top: 15px;
   margin: 0px;
 }

 #events {
   padding-top: 25px;
 }

  margin-top: 20px;
  margin-bottom: 20px;

}

.header_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header_card {
  color: white;
  width: 300px;
  box-shadow: -3px 3px 0px #C9C9C9;
  padding: 10px 10px 10px 10px;

  text-align: center;
  margin: 0px 20px 20px 20px;

  i {
    font-size: 90px;
    margin: 20px 0px 30px 0px;
  }

  .cardTop {
  }

  .cardBottom {
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .075);
    p { margin: 3px; }
  }

}

#code_card h3 {
  padding-top: 15px;
}

.feed_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .main_card {
    width: 40%;
    margin: 20px 10px 20px 10px;
  }

}

.activityListItem {
  align-items: center;
  display: flex;

  padding: 10px 0px 10px 0px;

  img {
    margin-right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

.eventListItem {

  display: flex;
  flex-direction: row;

  i { font-size: 20px; }

  .eventDayTime {
    width: 25%;
    min-width: 80px;
    border-right: thin solid $title-color;
    text-align: right;
    padding: 10px;
  }

  .eventText {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .meeting {
    color: $mat-purple;
  }



}

.leaderboard {
}

#gallery_card {
  display: flex;
  max-width: 51%;
}

.project_card {
  max-width: 35%;
  #top {
    padding: 25px;
    color: white;
    background-color: $mat-blue;
    p {
      font-size: 14px;
      margin-top: 15px;
    }
  }
  #bottom {
    padding: 25px 25px 10px 25px;
    color: $title-color;
    background-color: white;

    p {
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      list-style: none;
      padding-left: 10px;
      margin-bottom: 0px;
    }
  }
}

.user_circle {
  margin-left: -10px;
  img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-size: contain;
  }
}

#pill {
  border-radius: 80px;
  max-width: 300px;
  box-shadow: none;
  padding-top: 10px;
  padding: 20px;
}

#user_card {
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}


.nav_bar {
  width: 100%;
  background-color: $mat-blue;
  padding: 10px 0px 5px 10px;
  color: white;

  h3 {
    font-weight: 700 !important;
  }

  #logo {
    display: flex;
    align-items: baseline;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding-left: 0px;

    li {
      // font-weight: 100;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding: 15px;
      cursor: pointer;
    }

    .selected {
      border-bottom-style: solid;
      border-bottom-color: white;
      border-bottom-width: thin;
    }
  }

}

.ct-chart {
  .ct-bar {
   stroke-width: 20px;
 }
 .ct-bar:nth-of-type(4n+1) {
   stroke: $mat-blue;
 }
 .ct-bar:nth-of-type(4n+2) {
   stroke: $mat-purple;
 }
 .ct-bar:nth-of-type(4n+3) {
   stroke: $mat-orange;
 }
 .ct-bar:nth-of-type(4n+4) {
   stroke: $mat-green;
 }
}
