$mat-green: #CDDA49;
$title-color: #424242;
$subtitle-color: #A3A1A1;

body {
  font-family: "Roboto", sans-serif;
  color: $title-color;
  background: darken(white, 10%);
  margin: 20px;

  h1 { font-size: 70px; }
  h2 { font-size: 55px; }
  h3 { font-size: 32px; }
  h4 { font-size: 20px; }

  h1, h2, h3, h4, p {
    margin: 0px;
    font-weight: 300;
    text-transform: capitalize;
  }

  #title {
    font-weight: 400;
  }

  #subtitle {
    color: $subtitle-color;
    text-transform: none;
  }
}



.main_card {
  box-shadow: -3px 3px 0px #C9C9C9;
  background-color: white;
  padding: 20px 20px 20px 30px;

  ul {
   list-style: none;
   padding: 0px;
   padding-top: 15px;
   margin: 0px;
 }

 min-width: 500px;

 #events {
   padding-top: 25px;
 }

  margin-top: 20px;
  margin-bottom: 20px;

}

.header_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header_card {
  color: white;
  width: 300px;
  box-shadow: -3px 3px 0px #C9C9C9;
  padding: 10px 10px 10px 10px;

  text-align: center;
  margin: 0px 20px 20px 20px;

  i {
    font-size: 90px;
    margin: 20px 0px 30px 0px;
  }

  .cardTop {
  }

  .cardBottom {
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, .075);
    p { margin: 3px; }
  }

}

#code_card h3 {
  padding-top: 15px;
}



.feed_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .main_card {
    width: 40%;
    margin: 20px 10px 20px 10px;
  }

}

.activityListItem {
  align-items: center;
  display: flex;

  padding: 10px 0px 10px 0px;

  img {
    margin-right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

.eventListItem {

  display: flex;
  flex-direction: row;

  i { font-size: 20px; }

  .eventDayTime {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    min-width: 80px;
    border-right: thin solid $title-color;
    text-align: right;
    padding-right: 20px;
  }

  .eventText {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

}

.leaderboard {
  display: flex;
}

.ct-chart .ct-bar {
  stroke-width: 20px;
}

.ct-chart .ct-bar:nth-of-type(4n+1) {
  stroke: #71A28A;
}

.ct-chart .ct-bar:nth-of-type(4n+2) {
  stroke: #FF6414;
}

.ct-chart .ct-bar:nth-of-type(4n+3) {
  stroke: #EFB200;
}

.ct-chart .ct-bar:nth-of-type(4n+4) {
  stroke: #91A453;
}
